<div id="topBar"><a href="/hobbyists">Hobbyists</a><p>  </p><a href="/projects">Projects</a></div>

<br>
<h1>Hobbyists</h1>

<% @hobbyists.each do |hobbyist| %>
<p>
<a href="/hobbyists/<%= hobbyist.id %>"><%= hobbyist.name %></a> 
<%= link_to "Update #{hobbyist.name}", "/hobbyists/#{ hobbyist.id }/update" %>
<%= link_to "Delete #{hobbyist.name}", "/hobbyists/#{ hobbyist.id }", method: :delete %>
</p>
<p><%= hobbyist.created_at %></p>
<% end %>

<%= link_to "New Hobbyist", "/hobbyists/new" %>