<div id="topBar"><a href="/hobbyists">Hobbyists</a><p>  </p><a href="/projects">Projects</a></div>

<br>
<h3><%= @hobbyist.name %></h3>
<p>Actual Free Hours: <%= @hobbyist.actual_free_hours %></p>
<p>Disposible Income: <%= @hobbyist.disposible_income %></p>
<p>Number of hobbies: <%= @project_count %></p>
<br>
<a href="/hobbyists/<%= @hobbyist.id %>/projects"><%= @hobbyist.name %>'s Projects</a>

<%= link_to "Update Hobbyist", "/hobbyists/#{ @hobbyist.id }/update" %>

<%= link_to "Delete #{@hobbyist.name}", "/hobbyists/#{ @hobbyist.id }", method: :delete, data: {turbo_method: :delete} %>