<div id="topBar"><a href="/hobbyists">Hobbyists</a><p>  </p><a href="/projects">Projects</a></div>

<br>
<h1><%= @hobbyist.name %></h1>
<% @projects.each do |project| %>
  <h3><%= project.project_name %></h3>
  <p>Required Time: <%= project.required_time %> hours</p>
  <p>Current Completion: <%= project.current_completion %>%</p>
  <p>Start Cost: $<%= project.start_cost %></p>
  <p>Cost Rate: $<%= project.cost_rate %>/10hrs</p>
  <p>Complete: <%= project.completed %></p>
  <p>Abandoned: <%= project.abandoned %></p>
<% end %>