<div id="topBar"><a href="/hobbyists">Hobbyists</a><p>  </p><a href="/projects">Projects</a></div>

<br>
<h1>Projects</h1>

<% @projects.each do |project| %>
    <h3><a href="/projects/<%= project.id %>"></a><%= project.project_name %></h3> 
    <%= link_to "Update #{project.project_name}", "/projects/#{project.id}/update" %>
    <p>Required Time: <%= project.required_time %> hours</p>
    <p>Current Completion: <%= project.current_completion %>%</p>
    <p>Start Cost: $<%= project.start_cost %></p>
    <p>Cost Rate: $<%= project.cost_rate %>/10hrs</p>
    <p>Active: <%= project.active %></p>
    <p>Complete: <%= project.completed %></p>
    <p>Abandoned: <%= project.abandoned %></p>
<% end %>