<h3>Update Project</h3>
<%= form_with url: "/projects/#{@project.id}", method: :patch, local: true do |form| %>
  <%= form.label "Project Name" %>
  <%= form.text_field "Project Name" %> <br>
  <%= form.label "Required Time" %>
  <%= form.text_field "Required Time" %> <br>
  <%= form.label "Current Completion" %>
  <%= form.text_field "Current Completion" %> <br>
  <%= form.label "Start Cost" %>
  <%= form.text_field "Start Cost" %> <br>
  <%= form.label "Cost Rate" %>
  <%= form.text_field "Cost Rate" %> <br>
  <%= form.label "Active" %>
  <%= form.text_field "Active" %> <br>
  <%= form.label "Completed" %>
  <%= form.text_field "Completed" %> <br>
  <%= form.label "Abandoned" %>
  <%= form.text_field "Abandoned" %>
<br>
  <%= form.submit "Update Project" %>
<% end %>